/* ----------------------------
layout
---------------------------- */

/* row */
.row {
    clear: both;
    overflow: hidden;
}

/* row-colors */
.row--white { background: #fff; }
.row--grey { background: #f8f8f8; }
.row--blue { background: #3bb2d0; }

.row--dark-grey { 
    color: #fff;
    background: #282e37;
}

.row--banner {
    background: #aaa;
}

/* row-padding */
.row--padding-medium {
    /* 35px/16px */
    padding-top: 2.1875em;
    padding-bottom: 2.1875em;
}

.row--padding-wide {
    /* 35px/16px */
    padding-top: 2.1875em;
    padding-bottom: 2.1875em;
}

/* containers */
.container-narrow, .container-medium, .container-wide {
    /* centered inside the row */
    margin: 0 auto;
    /* little bit of gutter for small screens */
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.container-narrow {
    max-width: 34em;
    background: yellow;
}

.container-medium {
    max-width: 52em;
    background: green;
}

.container-wide {
    max-width: 58em;
    background: lime;
}

/* columns */
.col-narrow { background: pink; }
.col-narrow--right { background: pink; }
.col-medium { background: silver; }
.col-wide { background: aqua; }
.col-wide--right { background: aqua; }
/* make images sit a bit away from text on small screens */
.col-narrow, .col-narrow--right { margin-bottom: 1.5em;}
 


/* ----------------------------
wide
---------------------------- */

@media (min-width: 38em) {
        .row--padding-medium {
        /* 70px/18px */
        padding-top: 3.8889em;
        padding-bottom: 3.8889em;
    }

        .row--padding-wide {
        /* 100px/18px */
        padding-top: 5.5656em;
        padding-bottom: 5.5656em;
    }
    
        .container-narrow, .container-medium, .container-wide {
        /* bit more gutter for wide screens */
        padding-left: 2em;
        padding-right: 2em;
    }
    
    /* float columns */
        .col-narrow, .col-medium, .col-wide {
            float: left;
        }
        
        .col-narrow--right, .col-wide--right {
            float: right;
        }
        
        .col-wide, .col-wide--right {
            width: 61%;
        }
    
        .col-medium {
            width: 50%;
        }
        
        .col-narrow, .col-narrow--right {
            width: 25%;
            margin-bottom: 0;
        }
}